@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Common styling */
.card {
  box-shadow: 0 0 2px gray;
}

.card:hover {
  box-shadow: 0 0 5px gray;
  color: #031D44;;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
}

.anchor {
  text-decoration: underline;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.remix-icons {
  font-size: 30px;
  cursor: pointer;
  padding-left: 10px;
  opacity: .7;

}

.page-title {
  font-size: 25px;
  font-weight: bold;
}

.remix-icons:hover {
  opacity: 1;
}

.full-width-button {
  width: 100%;
  background-color: #031D44 !important;
  width: 100%;
  height: 40px;
  color: white !important;
  font-size: 16px;
  border: 0;
}

.full-width-button:hover {
  background-color: orange !important;
  color: white !important;

}


/* authentication pages */
.authentication {

  justify-content: center;
  height: 100vh;
  align-items: center;
  display: flex;
  border-color: aqua;
  /* background-color: #005555; */
  background-image: url("../public/images/nonblurbg.jpg");
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;


}

.authentication-form {
  width: 400px;
}

.card-title {
  background-color: orange;
  color: white;
  max-width: max-content;
  padding: 7px 15px;
  margin-left: -40px;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom-left-radius: 10px;
}

.primary-button {
  background-color: #031D44 !important;
  width: 100%;
  height: 40px;
  color: white !important;
  font-size: 16px;
  border: 0;
  width: max-content !important;
}

/* doctor page */
.doctor-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  text-decoration: none !important;
  font-size: 1rem !important;
}

.cursor-pointer {
  cursor: pointer;
}